body{
	background: transparent;
}

.mui-content{
	width: 100vw;
	height: 100vh;
	padding: 0rem !important;
}

/* 导航栏样式 */
.myself-bar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	color: white;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.myself-bar::after{
	width: 0;
}

.myself-center-bar{
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.myself-active-nav{
	font-weight: bold;
}

/* 导航栏文字颜色动态切换 */
.myself-nagetive-nav-white{
	color: #eaeae8;
}

.myself-active-nav-white{
	color: white;
}

.myself-nagetive-nav-black{
	color: #c6c6c6;
}

.myself-active-nav-black{
	color: black;
}

/* outerswiper样式 */
#outer-swiper{
	width: 100vw;
	height: 100vh;
	background-color: white;
}